{{define "content"}}

{{template "scriptUpdateFormValues" false}}

<div id="content" class="pure-g">
  <div class="pure-u-lg-5-24 pure-u-sm-1">
    <div class="pure-u-1" id="tagbar_label">
      Judging Tags
    </div>
    <form class="pure-form" action="/vote" method="get" id="the_form">
      {{template "TagsSelection" .TagSpecs}}
      <input type="hidden" name="tags" id="tags">
      <input type="hidden" name="winner" id="winner">
      <input type="hidden" name="loser" id="loser">
    </form>
  </div>
  <div class="pure-u-lg-7-24 pure-u-sm-1">
    <a onClick="submitVote({{.FirstId}}, {{.SecondId}});">
      {{.First}}
    </a>
  </div>
  <div class="pure-u-lg-4-24 pure-u-sm-1" style="text-align: center; font-size: 1.675em">
    <div style="padding-top: 50%">
      - OR -
    </div>
  </div>
  <div class="pure-u-lg-7-24 pure-u-sm-1">
    <a onClick="submitVote({{.SecondId}}, {{.FirstId}});">
      {{.Second}}
    </a>
  </div>
</div>

<script>

var tagSels = document.getElementsByClassName('rfvf-tag-selector-item-container');

for (i = 0; i < tagSels.length; i++) {
  tagSels[i].className = 'pure-u-1 rfvf-tag-selector-item-container';
}

function submitVote(winner, loser) {
  document.getElementById("winner").value = winner;
  document.getElementById("loser").value = loser;

  var tagSels = document.getElementsByClassName('rfvf-tag-selector-item');

  var i;
  document.getElementById('tags').value = '';
  for (i = 0; i < tagSels.length - 1; i++) {
    if (tagSels[i].getAttribute('selected') == 'true') {
      document.getElementById('tags').value += tagSels[i].getAttribute('value') + ',';
    }
  }
  if (tagSels[i].getAttribute('selected') == 'true') {
    document.getElementById('tags').value += tagSels[i].getAttribute('value');
  }

  document.getElementById("the_form").submit();
}
</script>

{{end}}
