{{define "scriptUpdateFormValues"}}
<script>
function allAreSelected() {
  var tagSels = document.getElementsByClassName('rfvf-tag-selector-item');

  var i;
  for (i = 0; i < tagSels.length; i++) {
    if (tagSels[i].getAttribute('value') == 'Select All' || tagSels[i].getAttribute('value') == 'Unselect All') {
      continue;
    }
    var isSelected = tagSels[i].getAttribute('selected');
    if (isSelected != 'true') {
      return false;
    }
  }
  return true;
}

function updateAllToggle() {
  var tagSels = document.getElementsByClassName('rfvf-tag-selector-item');
  allToggle = tagSels[tagSels.length - 1];
  if (allAreSelected()) {
    allToggle.setAttribute('value', 'Unselect All');
    allToggle.innerText = 'Unselect All';
    allToggle.setAttribute('selected', 'true');
    allToggle.classList.add('pure-button-secondary');
  } else {
    allToggle.setAttribute('value', 'Select All');
    allToggle.innerText = 'Select All';
    allToggle.setAttribute('selected', 'false');
    allToggle.classList.remove('pure-button-secondary');
  }
}

function setAllTagSelectorValues(toWhat) {
  var tagSels = document.getElementsByClassName('rfvf-tag-selector-item');

  var i;
  for (i = 0; i < tagSels.length; i++) {
    if (tagSels[i].getAttribute('value') == 'Select All' || tagSels[i].getAttribute('value') == 'Unselect All') {
      continue;
    }
    var isSelected = tagSels[i].getAttribute('selected');
    if (isSelected == 'true') {
      if (toWhat == 'true') {
        continue;
      } else {
        tagSels[i].setAttribute('selected', 'false');
        tagSels[i].classList.remove('pure-button-secondary');
      }
    } else {
      if (toWhat == 'false') {
        continue;
      } else {
        tagSels[i].setAttribute('selected', 'true');
        tagSels[i].classList.add('pure-button-secondary');
      }
    }
  }

  updateAllToggle();
}

function toggleTagSelectorValues() {
  var tagSels = document.getElementsByClassName('rfvf-tag-selector-item');

  var i;
  for (i = 0; i < tagSels.length; i++) {
    if (tagSels[i].getAttribute('value') == 'Select All' || tagSels[i].getAttribute('value') == 'Unselect All') {
      continue;
    }
    var isSelected = tagSels[i].getAttribute('selected');
    if (isSelected == 'true') {
      tagSels[i].setAttribute('selected', 'false');
      tagSels[i].classList.remove('pure-button-secondary');
    } else {
      tagSels[i].setAttribute('selected', 'true');
      tagSels[i].classList.add('pure-button-secondary');
    }
  }

  updateAllToggle();
}

function updateFormValues() {
  var tagSels = document.getElementsByClassName('rfvf-tag-selector-item');

  var i;
  document.getElementById('tags').value = '';
  for (i = 0; i < tagSels.length - 1; i++) {
    if (tagSels[i].getAttribute('selected') == 'true') {
      if (tagSels[i].getAttribute('value') == 'Select All' || tagSels[i].getAttribute('value') == 'Unselect All') {
        continue;
      }
      document.getElementById('tags').value += tagSels[i].getAttribute('value') + ',';
    }
  }
  if (tagSels[i].getAttribute('value') == 'Select All' || tagSels[i].getAttribute('value') == 'Unselect All') {}
  else {
    if (tagSels[i].getAttribute('selected') == 'true') {
      document.getElementById('tags').value += tagSels[i].getAttribute('value');
    }
  }

  updateAllToggle();
{{if .}}
  document.getElementById('the_form').submit();
{{- else}}
{{- end}}
}
</script>
{{end}}

{{define "container"}}

<!doctype html>
<html>
  <head>
    <title>RE Flag vs. Flag</title>

    <!-- the following <link> and <meta> tags suggested by the Pure.CSS docs at https://purecss.io/start/ -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
      integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
      crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">

    <link rel="stylesheet" href="/static/css/reflagvsflag.css">
    <link rel="stylesheet" href="/static/css/{{.Style}}.css">
    <link
      href="/static/css/multiple-select.css"
      rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="/static/js/multiple-select.js"></script>
  </head>
  <body>
    <div id="menu">
      <a class="pure-menu-heading" href="/"><b>RE</b> Flag vs. Flag</a>
      <div class="pure-menu">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/judge">Judge Flags</a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/ranks">View Rankings</a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/stats">Statistics</a>
          </li>
          <li class="pure-menu-item menu-item-divided">
            <a class="pure-menu-link" href="https://medium.com/@christophermcalpine/re-flagvsflag-830917fac80a">About</a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/upload">Upload a flag</a>
          </li>
          <li class="pure-menu-item menu-item-divided">
            <a class="pure-menu-link" href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
    {{template "content" .ContentParams}}
  </body>
</html>

{{end}}
