{{define "TagsSelectionItems"}}
  {{range .}}
    {{if .Selected}}
      <option value="{{.Tag}}" selected>{{.Tag}}</option>
    {{- else}}
      <option value="{{.Tag}}">{{.Tag}}</option>
    {{- end}}
  {{end}}
{{end}}

{{define "TagsSelection"}}
<script
  src="/static/js/multiple-select.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<select id="tags" name="tags" multiple="multiple">
  {{template "TagsSelectionItems" .}}
</select>
<script>
  $('select').multipleSelect();
</script>
{{end}}

{{define "TagIndicatorItem"}}
<div class="rfvf-tag-indicator-item">
  {{.Tag}}
</div>
{{end}}

{{define "TagsIndicator"}}
<div class="rfvf-tag-indicator">
  {{range .}}
    {{template "TagIndicatorItem" .}}
  {{end}}
</div>
{{end}}
