{{define "TagsSelectionItems"}}
  {{range .}}
    <button
      value="{{.Tag}}"
      onClick="if (this.getAttribute('selected') == 'true') { this.setAttribute('selected', 'false'); this.classList.remove('pure-button-secondary') } else { this.setAttribute('selected', 'true'); this.classList.add('pure-button-secondary')}; updateFormValues();"
  {{if .Selected}}
      class="pure-button pure-button-active rfvf-tag-selector-item"
      selected="true">
  {{- else}}
      class="pure-button rfvf-tag-selector-item"
      selected="false">
  {{- end}}
      {{.Tag}}
    </button>
  {{end}}
{{end}}

{{define "TagsSelection"}}
  <div class="pure-button-group" role="group" aria-label="Selected Tags">
    {{template "TagsSelectionItems" .}}
  </div>
{{end}}

{{define "TagIndicatorItem"}}
<div class="rfvf-tag-indicator-item">
  {{.Tag}}
</div>
{{end}}

{{define "TagsIndicator"}}
<div class="rfvf-tag-indicator">
  {{range .}}
    {{template "TagIndicatorItem" .}}
  {{end}}
</div>
{{end}}
