{{define "content"}}

<script>
function updateFormValues() {
  var tagSels = document.getElementsByClassName('rfvf-tag-selector-item');

  var i;
  document.getElementById('tags').value = '';
  for (i = 0; i < tagSels.length - 1; i++) {
    if (tagSels[i].getAttribute('selected') == 'true') {
      document.getElementById('tags').value += tagSels[i].getAttribute('value') + ',';
    }
  }
  if (tagSels[i].getAttribute('selected') == 'true') {
    document.getElementById('tags').value += tagSels[i].getAttribute('value');
  }
}
</script>
<div id="content">
  <form id="the_form" class="pure-form pure-form-stacked">
    <fieldset>
      <legend>New Flag</legend>

      <label for="flag-name">Name</label>
      <input id="flag-name" name="flag-name" type="text" placeholder="The Duchy of Grand Fenwick">
      <span class="pure-form-message"><i>required</i></span>

      <label for="flag-path">Image URL</label>
      <input id="flag-path" name="flag-path" class="pure-u-23-24" type="text">

      <label for="flag-desc">Description</label>
      <textarea id="flag-desc" name="flag-desc" placeholder="Briefly describe this flag (optional)"></textarea>

      <label for="tags">Tags</label>
      {{template "TagsSelection" .TagSpecs}}
    </fieldset>

    <fieldset>
      <input type="hidden" name="tags" id="tags">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
</div>

{{end}}
