@import "_reflagvsflag.scss";

#content {
  div {
    color: $black;

    form {
      padding: 4px;
    }

    a {
      text-decoration: none;
    }

    a :hover {
      cursor: pointer;
    }
  }
}
