@import "_reflagvsflag.scss";

#content {
  margin: 5px;
  padding: 5px;
  font-size: 2em;
  div {
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    div {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
