@import "_reflagvsflag.scss";

* {
  .pure-button-group {
    display: inline-block;
    max-width: 75%;
    .pure-button {
      width: calc(50% - 3px);
      display: inline;
    }
    .pure-u-1 {
      width: calc(50% - 3px);
    }
  }
}
